
*{
    font-family: 'Merriweather', serif;
}
.card {
    color: #000000;
    background-color: #f4fafa;
    box-shadow: 0 4px 8px 0 rgba(230, 5, 5, 0.2);
    transition: 0.3s;
    width: 100%;
    padding: 10px;
}
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(214, 14, 14, 0.2);
    
}

.container {
    padding: 2px 16px;
}
h1 {
    font-family: 'Comfortaa';
}
h2 {
    font-family: 'Comfortaa';
}
h3 {
    font-family: 'Comfortaa';
}
footer {
    padding: 10px;
    margin-top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    font-family: "Century Gothic", "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
    background-color: #dcdcdc;
    text-shadow: 0px 1px 0px rgba(000,000 , 000,.5);
}
body{
    max-width: 100%;
    font-family: 'Comfortaa';
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
.navbar-fixed-top {
    min-height: 60px;
}
.navbar-brand {
    min-height: 60px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}
#head_bg {
    background-color:#e5e5e5;
    width:100%;
    padding:5px;
}
#footer{
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

             
    /* .active {
        background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
      }

      .active:hover {
        background-position: right center; /* change the direction of the change here */
       
       
        #login{
              position: absolute;
              right: 10px;
              margin: 15px;
              padding:5px 10px;
        }
       #plus{
        margin-left: 250px;
        
        
        
       }
#btn{
    display: flex;
    justify-content: right;
    gap: 10px;
   margin-top:10px ;
}
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}


.main-popup {
    padding: 8px;
    margin: 8px;
}






#close-btn,
#Submit-btn {
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    background: #979797;
    color: white;
}
.form-style-9{
	/* max-width: 450px; */
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	/* box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35); */
	border-radius: 10px;
	/* border: 6px solid #305A72; */
}
.form-style-9 ul{
	padding:0;
	margin:10px;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	/* border: 1px solid #B0CFE0; */
	/* -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out; */

/* }.form-style-9 ul li  .field-style:focus{
	/* box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0; */
} 
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"],.form-style-9 ul li input[type="reset"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="reset"]{
    background-color: #d33b3b;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-img img{
    height: 58px;
    animation: rotateme 2s cubic-bezier(0.74, 0.41, 0.3, 0.66) infinite;
}
@keyframes rotateme {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loadingbar{
    border: 1px solid black;
    width: 20rem;
    height: 10px;
    margin: 11px;
    overflow: hidden;
    border-radius: 5px;
}
.loadbar{
    width: 0;
    height: 100%;
    background: black;
}
.userprofile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.userprofile label img{
    margin-top: 22px;
    width: 120px;
}
#abc{
    cursor: pointer;
}

.error {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(222, 101, 77);
    border-radius: 5px;
    color: white;
}

.error button {
    float: right;
    width: 19px;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
}